<!DOCTYPE html>
<html>
<head> 
	<title>TaxiFinder</title>
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
</head>


<body class="container">

	<h1><b>Taxi Finder</b></h1>

	<p>Info describing them how the website works</p>

	<div class="form-group">
	<div class="input-group">	
		<span class="input-group-addon" id="basic-addon1">Full Name</span>
		<input type="text" class="form-control" placeholder="First Last" aria-describedby="basic-addone1">
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Email</span>
		<input type="text" class="form-control" placeholder="example@example.com" aria-describedby="basic-addone1">
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Phone Number</span>
		<input type="text" class="form-control" placeholder="123-456-7890" aria-decribedby="basic-addone1">
	</div>

	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="butoon" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			Start Location
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Northwestern North Campus</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Northwestern South Campus</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">O'hare Airport</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Midway Airport</a></li>
		</u>
	</div>

	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="butoon" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
			End Location
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Northwestern North Campus</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Northwestern South Campus</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">O'hare Airport</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Midway Airport</a></li>
		</u>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>

	<div>
	Contact Info, etc.
	</div>



</body>
</html>


