<!doctype html> 
<html>
   <head>
        <link type="text/css" rel="stylesheet" href="../static/css/matchtime.css" />
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css" />
   </head>
   
   <body> 

     <div class="panel panel-default">
     	<div class="page-header">
     		<h1>Match Your Time<small></small></h1>
     	</div>
     	<div class="panel-body">
     		<p>Date: 02/31/2015</p>
     		<p>Pickup Location: Northwestern University</p>
     	</div>

     	<button type="button" class="btn btn-default">
     		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Change Date or Pickup Location
     	</button>
</div>
<div>
     	<table class="table">
     		<tr>
     			<td>#</td>
     			<td>Time</td>
     			<td>Name</td>
     			<td>Phone</td>
     			<td>Email</td>
     		</tr>
     		<tr>
     			<td>1</td>
     			<td>7:00-7:30</td>
     			<td>Ava</td>
     			<td>224-1111111</td>
     			<td>avaava2018@u.northwestern.edu</td>
     		</tr>
     		<tr>
     			<td>2</td>
     			<td>9:30-10:00</td>
     			<td>Bob</td>
     			<td>224-1112222</td>
     			<td>bobbob2018@u.northwestern.edu</td>
     		</tr>
     		<tr>
     			<td>3</td>
     			<td>17:30-18:00</td>
     			<td>Cindy</td>
     			<td>224-1113333</td>
     			<td>cindycindy2018@u.northwestern.edu</td>
     		</tr>
     		<tr>
     			<td>4</td>
     			<td>18:00-18:30</td>
     			<td>Dan</td>
     			<td>224-1114444</td>
     			<td>dandan2018@u.northwestern.edu</td>
     		</tr>
     		
	</table>

 </div>
  
    <nav>
	 <ul class="pagination">
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
     </ul>
 </nav>
 <div>
    <p>No Match?</p>
    <button type="button" class="btn btn-default">
     		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Start a Carpool Group
    </button>
 </div>

   </body> 


</html>