<!doctype html> 
<html>
   <head>
       
        <link type="text/css" rel="stylesheet" href="../static/css/matchtime.css" />
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css" />
        


   </head>
   
   <body class="container"> 
   		<h1><b>Match Your Time</b></h1>
        <h4>Step2: Choose the taxi group that fits your schedule and contact the group member.</h4>


        <div class="panel panel-default" class="panel-body">
     		<div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Date of Departure: 02/31/2015</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Start Location: Northwestern North Campus</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Final Destination: O'hare Airport</span>
            </div>

            
         	<button type="button" class="btn btn-default" onclick="window.location.href='/'">
         		<span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span> Change Date or Location
     	    </button>
        </div>

    <div>
     	<table class="table">

     		<tr>
     			<td>#</td>
     			<td>Time</td>
     			<td>Name</td>
                <td>Number of people already in the group</td>
     			<td>Phone</td>
     			<td>Email</td>
     		</tr>
     		<tr>
     			<td>1</td>
     			<td>7:00-7:30</td>
     			<td>Ava</td>
                <td>3</td>
     			<td>224-1111111</td>
     			<td>avaava2018@u.northwestern.edu</td>
     		</tr>
     		<tr>
     			<td>2</td>
     			<td>9:30-10:00</td>
     			<td>Bob</td>
                <td>2</td>
     			<td>224-1112222</td>
     			<td>bobbob2018@u.northwestern.edu</td>
     		</tr>
     		<tr>
     			<td>3</td>
     			<td>17:30-18:00</td>
     			<td>Cindy</td>
                <td>1</td>
     			<td>224-1113333</td>
     			<td>cindycindy2018@u.northwestern.edu</td>
     		</tr>
     		<tr>
     			<td>4</td>
     			<td>18:00-18:30</td>
     			<td>Dan</td>
                <td>1</td>
     			<td>224-1114444</td>
     			<td>dandan2018@u.northwestern.edu</td>
     		</tr>
     		
	    </table>
     </div>
  
    <nav>
	 <ul class="pagination" id="timelist">
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
     </ul>
 </nav>
 <div>

    <h3>No Match?</h3>
    <button type="button" class="btn btn-default" onclick="window.location.href='/groupinfo'">
     		<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Start a NEW Taxi Group

    </button>
 </div>
 <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
 <script type="text/javascript" src="../static/js/site.js"></script>
   </body> 


</html>